<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - FROGS Account Manager</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/sweetalert.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/vendor/modernizr-2.6.2.js"></script>
    <script src="/static/scripts/vendor/jquery-1.10.2.js"></script>
    <script src="/static/scripts/vendor/bootstrap.js"></script>
    <script src="/static/scripts/vendor/respond.js"></script>
    <script src="/static/scripts/vendor/angular.min.js"></script>
    <script src="/static/scripts/vendor/angular-cookies.js"></script>
    <script src="/static/scripts/vendor/sweetalert.min.js"></script>
    <script src="/static/scripts/vendor/ngSweetAlert.js"></script>
    <script src="/static/scripts/app.module.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">FROGS Account Manager</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>-->
                    <li><a href="{{ url_for('test_databases') }}">Create/Update Users</a></li>
                    <li><a href="{{ url_for('test_database_role') }}">Database Roles</a></li>
                    <li><a href="{{ url_for('test_accounts') }}">Accounts</a></li>
                    <li><a href="{{ url_for('test_locked_accounts') }}">Locked Accounts</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer style="text-align:center">
            <p>&copy; {{ year }} - FROGS Account Manager</p>
        </footer>
    </div>

    {% block scripts %}{% endblock %}

</body>
</html>
