{% extends "layout.html" %}

{% block content %}

    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>


    <div ng-app="app">
        <div ng-controller="AccountCtrl as vm">
            <span>Database Parameter: </span><input ng-model="vm.parameter" type="text" />
            <button ng-click="vm.loadAccounts()">Click Me</button>
            <br />
            <div>
                <table class="table-bordered table-striped table-hover">
                    <tr>
                        <th>Database</th>
                        <th>Username</th>
                        <th>Create Date</th>
                        <th>Expire Date</th>
                    </tr>
                    <tr ng-repeat="row in vm.accounts">
                        <td>{[row.database]}</td>
                        <td>{[row.username]}</td>
                        <td>{[row.create_date]}</td>
                        <td>{[row.expire_date]}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

<script src="/static/scripts/app/accounts.controller.js"></script>


    {% endblock %}
