{% extends "layout.html" %}

{% block content %}

    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>


    <div ng-app="app">
        <div ng-controller="DatabaseCtrl as vm">
            <button ng-click="vm.loadDatabases()">Click Me</button>
            <div>
                <table class="table-bordered table-striped table-hover">
                    <tr>
                        <th>Region</th>
                        <th>Database</th>
                    </tr>
                    <tr ng-repeat="row in vm.databases | orderBy: 'region'">
                        <td>{[row.region]}</td>
                        <td>{[row.database]}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

<script src="/static/scripts/database.controller.js"></script>


    {% endblock %}
